body{
    font-family: trebuchet ms, verdana, arial, sans-serif;
    font-weight: 600;
    background: rgb(219, 218, 218);
    text-align:center;
}
<<<<<<< HEAD
button{
    background: rgb(0, 0, 0);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
=======
#box{
    width: 100px;
    height: 100px;
    background-color: rgb(59, 187, 42);
    color: white;
    line-height: 100px;
    margin: auto;
>>>>>>> 2dc0cf8 (Working with event listeners, for loops and arrays)
}