body{
    font-family: trebuchet ms, verdana, arial, sans-serif;
    font-weight: 600;
    background: rgb(219, 218, 218);
    text-align:center;
    min-width: 400px;
}
#box{
    width: 100px;
    height: 100px;
    background-color: rgb(59, 187, 42);
    color: white;
    line-height: 100px;
    margin: auto;
}
li{
    text-align: left;
}
input{
    color: white;
    background-color: #c2d3b8;
    border: 1px solid rgb(74, 119, 77);
    padding: 10px;
    width: 300px;
}